<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header xmlns:font-weight="http://www.w3.org/1999/xhtml">

  <ion-navbar>
    <ion-title>Shop</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="body">
  <!--<ion-item *ngFor="let product of products" style="background-color: transparent">-->
    <!--<ion-thumbnail item-start>-->
      <!--<img src="../../assets/imgs/User_icon_BLACK-01.png">-->
    <!--</ion-thumbnail>-->
    <!--<h2>{{product.name}}</h2>-->
    <!--<p>{{product.description}}</p>-->
    <!--<p>{{product.price}}</p>-->
    <!--<button  ion-button clear item-end (click)="shopNow(product._id,product.name,product.description ,product.price)">Buy </button>-->
    <!--&lt;!&ndash;<button  ion-button clear item-end (click)="showPromptDelete(product._id,product.name,product.description ,product.price)">Add </button>&ndash;&gt;-->
  <!--</ion-item>-->


  <!--<ion-card *ngFor="let product of products" >-->

    <!--<img src="../../assets/imgs/User_icon_BLACK-01.png">-->
    <!--<div class="card-title">{{product.name}}</div>-->
    <!--<div class="card-subtitle">{{product.description}}</div>-->
  <!--</ion-card>-->

  <ion-card  *ngFor="let product of products" style="background-color:#8f8f8f">

    <ion-item >
      <ion-avatar item-start>

      </ion-avatar >
      <h2 style="font-weight:bold">{{product.name}}</h2>
      <!--<p>November 5, 1955</p>-->
    </ion-item>

    <!--<img src="img/advance-card-bttf.png">-->
    <img src="{{product.ImageUrl}}">
    <ion-card-content style="background-color: transparent">
      <p style="font-weight:lighter">{{product.description}}</p>
    </ion-card-content>

    <ion-row>
      <!--<ion-col>-->
        <!--<button ion-button icon-left clear small>-->
          <!--<ion-icon name="cart"></ion-icon>-->
          <!--<div>Buy</div>-->
        <!--</button>-->
      <!--</ion-col>-->
      <ion-col>

          <h1 style="font-size: large">R {{product.price}}</h1>

      </ion-col>
      <ion-col center text-center>
        <ion-note>
          <form #loginForm="ngForm" (ngSubmit)="shopNow(product._id,product.name,product.description ,product.price)" >
          <button  ion-button color="danger" ion-button icon-left clear small style="margin-left: 55%">
            <ion-icon name="cart" ></ion-icon>
            <div style="font-weight:bold" >Buy</div>
          </button>
          </form>
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>


</ion-content>
